---
http_interactions:
- request:
    method: get
    uri: https://www.appdirect.com/rest/api/events/dummyChange
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="statica-16287", oauth_nonce="r2kLZO3UiSYDNDZXgvfodt5GGz6i3zoaSgiwmt148tU",
        oauth_signature="ZnSGKiCauwR0h%2Bu%2F9wbpwH4veDs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1414773354", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><event><creator><email>test-email+creator@appdirect.com</email><firstName>DummyCreatorFirst</firstName><language>fr</language><lastName>DummyCreatorLast</lastName><openId>https://www.appdirect.com/openid/id/ec5d8eda-5cec-444d-9e30-125b6e4b67e2</openId><uuid>ec5d8eda-5cec-444d-9e30-125b6e4b67e2</uuid></creator><flag>STATELESS</flag><marketplace><baseUrl>https://acme.appdirect.com</baseUrl><partner>ACME</partner></marketplace><payload><account><accountIdentifier>dummy-account</accountIdentifier><status>ACTIVE</status></account><configuration/><order><editionCode>PREMIUM</editionCode><item><quantity>20</quantity><unit>USER</unit></item><item><quantity>15</quantity><unit>MEGABYTE</unit></item><pricingDuration>MONTHLY</pricingDuration></order></payload><returnUrl>https://www.appdirect.com/finishprocure?token=dummyChange</returnUrl><type>SUBSCRIPTION_CHANGE</type></event>
  recorded_at: Fri, 31 Oct 2014 16:35:54 GMT
recorded_with: VCR 2.9.3
